.form-container {
    padding: 4rem 8rem,;
    .form-wrapper {
        border-radius: 37px;
        background: #f5f5f5;
        box-shadow:  39px 39px 77px #d3d3d3,
                     -39px -39px 77px #ffffff;
        padding: 5rem;
    }
}